1. Gunakan pandas untuk membaca data dari file di link https://drive.google.com/drive/folders/1KwxPmUTNWtKixy8rg-3Zf6jiRe8PtFEy?usp=sharing , lalu masukkan ke dalam data frame df.

In [ ]:
from google.colab import files
upload = files.upload()

Saving Nilai 6 tutorial.xlsx to Nilai 6 tutorial.xlsx

In [ ]:
import pandas as pd
df = pd.read_excel ('Nilai 6 tutorial.xlsx')
print(df)

                                   Nama        NIM  ...      6  rata-rata
0                       ANUGRAH KHADAFI  101119034  ...  61.91  62.410000
1                            RYAN HANIF  101119061  ...   0.00  33.576667
2                   FRANSISCUS WIBISANA  101120001  ...   0.00  93.696667
3                      MUHAMAD NURLIHAN  101120002  ...   0.00  88.086667
4                               M.FIKRI  101120003  ...  38.74  85.320000
..                                  ...        ...  ...    ...        ...
968          MUHAMMAD ALFARIDZA MAULANA  105220051  ...   0.00  84.410000
969              MOHAMAD IQBAL RAMADHAN  105220052  ...   0.00  89.233333
970           MUHAMMAD REZA PUTRA ANISI  105220053  ...   0.00  92.450000
971  RADEN MAS BIMA SATRYA WONGSONEGORO  105220054  ...   0.00   0.000000
972                     BENI ANDRIANSAH  105220055  ...   0.00  80.576667

[973 rows x 9 columns]

In [ ]:
df_1 = pd.read_excel('Nilai 6 tutorial.xlsx')
df_1.head()

                  Nama        NIM      1      2  ...      4      5      6  rata-rata
0      ANUGRAH KHADAFI  101119034  41.71  71.66  ...  53.66  51.26  61.91  62.410000
1           RYAN HANIF  101119061   0.00   0.00  ...  82.93   0.00   0.00  33.576667
2  FRANSISCUS WIBISANA  101120001  85.78  76.84  ...  81.01  99.67   0.00  93.696667
3     MUHAMAD NURLIHAN  101120002  55.48  90.40  ...  88.11  84.04   0.00  88.086667
4              M.FIKRI  101120003   0.00  77.48  ...  79.82  92.95  38.74  85.320000

[5 rows x 9 columns]

2. Ambillah semua data yang memiliki 36 sebagai dua angka pertama di kolom NIM, lalu masukkan data tersebut ke dalam df_2.

In [ ]:
df_2 =index = []
for i in range(len(df_1)):
    if str(df_1['NIM'][i])[-2:]=='36':
        index.append(i)

df_2 = df_1.loc[index].copy().reset_index(drop=True)
df_2

                             Nama        NIM      1  ...      5      6  rata-rata
0    MUHAMMAD FERI EDO ARDIANSYAH  101120036  84.05  ...  99.09  93.58  97.453333
1          ALHAYYU DRUVADI ADNOOR  101220036  72.55  ...   8.60   0.00  56.993333
2           GIOVANNI HARSA ONASIS  101220136  86.49  ...  26.46  79.64  86.093333
3         HISKIA OSVALDO SIPAYUNG  102119036   0.00  ...   0.00   0.00   0.000000
4   ALDI WIRADINATA BUKHARI TJUNG  102120036  98.46  ...  99.66  99.47  99.426667
5           LUQ LUQ FATHYAH SALIM  102220036  92.75  ...  96.96  91.64  95.360000
6              ILMA NADIRA SAMIUN  102320036  87.39  ...  91.71   0.00  92.130000
7                     ARIF IRAWAN  102420036  83.56  ...  89.25  90.16  89.656667
8           TEGAR GILANG PRASETIA  104120036  86.83  ...  78.92  73.13  86.556667
9               AMALIA EDWISAFIRA  104220036  80.34  ...  93.02  78.34  86.030000
10           JORALDI CHIKAL RADHO  105120036   0.00  ...  16.36   0.00  16.303333
11      MALINO VEBIOLA RAJAGUKGUK  105220036  80.99  ...  77.24   0.00  79.250000

[12 rows x 9 columns]

3. Hitung rata-rata masing-masing mahasiswa di df_2 dan masukkan dalam list_1.

In [ ]:
list_1 = []

for index, row in df_2.iterrows():
  list_1.append((row.iloc[2]+row.iloc[3]+row.iloc[4]+row.iloc[5]+row.iloc[6]+row.iloc[7]) / 6)

list_1

[93.49666666666667,
 29.929999999999996,
 60.23166666666666,
 0.0,
 97.58999999999999,
 92.84333333333335,
 75.27166666666666,
 86.88833333333334,
 81.975,
 69.20833333333333,
 8.151666666666666,
 65.04166666666667]

4. Buat lah list_2 yang isinya adalah string "buruk", "baik", atau "excelent". "buruk" untuk nilai < 45 di list_1, "baik" untuk nilai >= 45 dan < 80 di list_1, "excelent" untuk nilai >= 80.

In [ ]:
list_2 = []

for mean in list_1:
  if mean < 45:
    list_2.append('buruk')
  elif (mean >= 45) & (mean < 80):
    list_2.append('baik')
  elif mean >= 80:
    list_2.append('excellent')

list_2

['excellent',
 'buruk',
 'baik',
 'buruk',
 'excellent',
 'excellent',
 'baik',
 'excellent',
 'excellent',
 'baik',
 'buruk',
 'baik']

5. Buatlah dictionary bernama dict_1 yang dengan key "Rata-rata" dan "Predikat". Key "Rata-rata" memiliki value list_1 dan key "Predikat" memiliki value list_2.

In [ ]:
dict_1 = dict_1 = {
  "Rata-rata": list_1,
  "Predikat": list_2
}

dict_1

{'Predikat': ['excellent',
  'buruk',
  'baik',
  'buruk',
  'excellent',
  'excellent',
  'baik',
  'excellent',
  'excellent',
  'baik',
  'buruk',
  'baik'],
 'Rata-rata': [93.49666666666667,
  29.929999999999996,
  60.23166666666666,
  0.0,
  97.58999999999999,
  92.84333333333335,
  75.27166666666666,
  86.88833333333334,
  81.975,
  69.20833333333333,
  8.151666666666666,
  65.04166666666667]}

6. Buat DataFrame df_3 yang menggabungkan df_2 dengan dict_1.

In [ ]:
df_3 = dict_df = pd.DataFrame(dict_1)
df_3 = pd.concat([df_2, dict_df], axis=1)
df_3

                             Nama        NIM  ...  Rata-rata   Predikat
0    MUHAMMAD FERI EDO ARDIANSYAH  101120036  ...  93.496667  excellent
1          ALHAYYU DRUVADI ADNOOR  101220036  ...  29.930000      buruk
2           GIOVANNI HARSA ONASIS  101220136  ...  60.231667       baik
3         HISKIA OSVALDO SIPAYUNG  102119036  ...   0.000000      buruk
4   ALDI WIRADINATA BUKHARI TJUNG  102120036  ...  97.590000  excellent
5           LUQ LUQ FATHYAH SALIM  102220036  ...  92.843333  excellent
6              ILMA NADIRA SAMIUN  102320036  ...  75.271667       baik
7                     ARIF IRAWAN  102420036  ...  86.888333  excellent
8           TEGAR GILANG PRASETIA  104120036  ...  81.975000  excellent
9               AMALIA EDWISAFIRA  104220036  ...  69.208333       baik
10           JORALDI CHIKAL RADHO  105120036  ...   8.151667      buruk
11      MALINO VEBIOLA RAJAGUKGUK  105220036  ...  65.041667       baik

[12 rows x 11 columns]

7. Buatlah DataFrame df_4 yang berisi df_3 dengan penambahan kolom baru dengan nama "Nomor" yang berisi bilangan asli terurut mulai dari 1.

In [ ]:
df_4 =

8. Buatlah list_3 yang berisi NIM semua mahasiswa dengan Predikat buruk.

In [ ]:
list_3 =

9. Buatlah variabel arr_1 yang berupakan hasil konversi list_1 ke dalam bentuk array di numpy.

In [ ]:
arr_1 =

10. Buatlah arr_2 yang berisi arr_1 dengan perubahan, yaitu setiap nilai di bawah 65 mendapat penambahan nilai sebanyak 5.

In [ ]:
arr_2 =